<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/css/event/main_new.css">
  <!-- Roulette js-->
  <script src="/js/psy/rouletteScript.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <title>Title</title>

</head>
<body>

<div class="swiper-container con">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <!-- 시작화면 -->
      <div class="con-title">
        <img src="https://app.m-nitpick.com/img/event/11/new_main.png" class="title-main-img" />
        <h2>
          나는 어떤 대통령(지도자)과<br> 비슷한 유형일지 지금, 확인해보세요.
        </h2>
        <button class="title-start-btn swiper-next" id="btn_start">
          테스트 시작!
        </button>
        <button class="title-start-btn other-test" id="btn_other_test" onclick="create_dynamic_link();">
          결과 공유하기
        </button>
      </div>
    </div>
{{#questions}}
    <div class="swiper-slide">
      <div class="con-quest">
        <div class="nav">
          <h3 class="quest-number">
            Q{{id}}.
          </h3>
          <p class="quest-process">
            {{id}}/12
          </p>
        </div>
        <h4 class="quest-title" style="margin:30px 10%">{{content}}</h4>
{{#answers}}
        <div class="option">

          <div class="quest-option option1 swiper-next" name="data-mbti" type="button" value="{{personality}}">
            <p>{{content}}</p>
          </div>

        </div>
{{/answers}}
      </div>
    </div>
{{/questions}}

    <div class="swiper-slide">
      <!-- 결과화면 -->
      <div class="fin">
        <div class="con-my">
          <h1>
            나와 비슷한<br>대통령(지도자)은... 바로!
          </h1>
          <div class="my-img-cover">
            <div class="roulette my-img" style="display: none;">
              <img src="/img/event/11/ISTP.png" class="psyobj" value="ISTP" />
            </div>
          </div>
        </div>
        <div class="result_msg_mid" style="display: none;">
          <div class="con-my">
            <h2 id="result_name"></h2>
            <h3>희귀성:
              <font id="result_rate" style="font-size: 50px;color: #eb1414;vertical-align: middle;">10%</font>
            </h3>
            <h3 id="result_title"></h3>
           <p id="result_msg" style="white-space:pre-wrap;margin:30px auto;width: 330px;text-align:left;"></p>
         </div>
         <div class="other">
           <div class="other-option option1">
              <h3>나와 맞는 유형</h3>
              <img id="result_same_type_img">
              <p id="result_same_type_name">노태우 대통령</p>
            </div>
            <div class="other-option option2">
              <h3>나와 안맞는 유형</h3>
              <img id="result_other_type_img">
              <p id="result_other_type_name">시진핑</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>

<script>
    var swiper = new Swiper('.swiper-container', {
        cssMode: false,
        navigation: {
            nextEl: '.swiper-next',
        },
        allowTouchMove: false,
        speed: 800,
        mousewheel: false,
        keyboard: false,
    });
</script>

<script>
  var arr = [];

  const readMbtiBtns = document.querySelectorAll("#data-mbti");

  readMbtiBtns.forEach(btn => {
    btn.addEventListener("click", (event) => {
      const readMbtiBtn = document.getElementById('data-mbti').value;

      console.log(readMbtiBtn);

      arr.push(readMbtiBtn);
      console.log(arr);
    });

  });


</script>

</body>
</html>