<div class="card m-2" id="notes-new">
  <div class="card-body">
    <!-- 단어장 작성 폼-->
    <form>
      <!-- 단어장 타이틀 입력-->
      <div class="mb-3">
        <label class="form-label">단어장 제목</label>
        <input class="form-control form-control-sm" id="new-note-name">
      </div>

      <!-- 히든 인풋 -->
      {{#member}}
        <input type="hidden" id="new-note-member-id" value="{{id}}">
      {{/member}}

      <!--전송 버튼 -->
      <button type="button" class="btn btn-outline-primary btn-sm" id="note-create-btn">단어장 생성</button>
    </form>
  </div>
</div>

<script>
{
  // 단어장 생성 버튼 변수화(id가 comment-note-btn인 대상)
  const noteCreateBtn = document.querySelector("#note-create-btn");

  // 버튼 클릭 이벤트를 감지!
  noteCreateBtn.addEventListener("click", function() {
    // 새 단어장 객체 생성
    const note = {
      title: document.querySelector("#new-note-name").value,
      member_id: document.querySelector("#new-note-member-id").value
      };

      // 단어장 객체를 출력
      console.log(note);

      // fetch() - Talend API 요청을 JavaScript로 보내준다!
      const url = "/api/quizlet/" + note.member_id + "/notes";
      fetch(url, {
        method: "post",                       // POST 요청
        body: JSON.stringify(note),           // note JS 객체를 JSON으로 변경하여 보냄
        headers: {
          "Content-Type": "application/json"
        }
      }).then(response => {
        // http 응답 코드에 따른 메세지 출력
        const msg = (response.ok) ? "단어장이 등록되었습니다." : "단어장 등록 실패..!";
        alert(msg);
        // 현재 페이지 새로고침
        window.location.reload();
    });
  });
}
</script>