<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <title>Super Page</title>
</head>
<body>
<h1> Super Page </h1>
<form action="/logout">
  <button type="submit">logout</button>
</form>
</body>
</html>